<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<p><%= link_to "Edit article", edit_article_path %></p>
<p><%= link_to "Delete article", delete_article_path %></p>

<%= link_to 'Article list', articles_path %>
